@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "japa";
    src: url("../fontes/go3v2.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "nordico";
    src: url("../fontes/PR Viking.ttf") format("opentype");
}
@font-face {
    font-family: "fogo";
    src: url("../fontes/charbb_reg.ttf") format("truetype"), url("fontes/charbb_reg.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "fantacia";
    src: url("../fontes/Seagram tfb.ttf") format("truetype");
}
@font-face {
    font-family: "heroi";
    src: url("../fontes/CFGlitchCity-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}



*{
    margin:0px;
    padding: 0px;
}

nav{
    background-color: #1d1919;
    margin: auto;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 10px black;
    max-width: 1000px;
    align-items: center;
    width: 100%;
}


body{
    background-image: url(../planosdefundos/space-wallpaper-200707153923281350x2400.jpg);
    background-size: cover;

    background-attachment: fixed;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#pokemon{
    background-image: url(../planosdefundos/pokemon02.jpg);
    background-size: cover;
}
#samurai{
    background-image: url(../planosdefundos/fogobranco.jpg);
    background-size: cover;
    color: rgba(255, 255, 255, 0.726);
}
#monster{
    background-image: url(../planosdefundos/raio\ 1.jpg);
    background-size: cover;
}
#fantasia{
    background-image: url(../planosdefundos/fantasia.jpg);
    background-size: cover;
}
main{
    margin-top: 50em;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.712);
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

h1{
    text-align: center;
    
    color: rgb(187, 48, 48);
    
    padding: 10px;
    padding-top: 10px;
    
    font-size: 3em;
    margin-top: 0px;
}
h2{
    text-align: center;
    
    color: rgb(187, 48, 48);
    font-size: 2.4em;
    padding-top: 20px;
    padding-bottom: 10px;
    font-style: oblique;
}
h3{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 1.3em;
}
h4{
    font-size: 1.5em;
    text-align: center;
    font-family: 'Sigmar One', cursive;

}
.img-persona{
    padding: 5px;
    margin: auto;
    display: block;
    max-width: 50%;
    min-height: 50%;
    border-radius: 10px;
}    




    /*BOTÃO*/
button{
    padding: 5px;
    margin: 2px;
    display: block;
    color: aliceblue;
    background-color: rgb(211, 21, 21);
}
    /*BOTÃO*/



a{
    color: rgb(172, 48, 48);
    text-decoration: none;
    font-size: 2em;
    font-weight: normal;
    padding: 15px;
    transition-duration: 0.5s;
}

a:hover{
    color: rgb(255, 0, 0);
}
a:active{
    color: rgb(119, 50, 29);
}

.link::after{
    
    color: rgb(255, 0, 0);
}
.link::before{
    
    color: rgb(216, 6, 6);
}
p{
    text-align: justify;
    text-indent: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}
li{
    text-decoration: none;
    font-size: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
    text-decoration: none;
    list-style: none;
}

.tb-responsiva{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;

}
.timepoke{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}
.timepoke > article{
    flex: 1 1 200px;
}
.inventario{

    margin: 20px;

}

@media (max-width:580px){

    .tb-responsiva{

        display: inline-block;
        
        padding: 10PX;
    }

    h3{
        text-align: start;
    }

}
